{% extends "header.html" %}
{% block content %}


  <div class="main">

    <div class="content">
    
      
        {% for id, categ, name, brand, descr, pict, price, pieces in products %}

        
        <div class="card">
          
          <img src={{pict}} style="width:100%">
          <h1>{{name}}</h1>
          <p>{{brand|upper}}</p>
          <p class="price">${{price}}</p>
          {% if pieces > 0 %}
          <form method="POST" action="/currentCart">
            
            <input type="hidden" name="id" value={{id}}>

            
              <label for="name1"><b>Pieces</b><input type=number name="pieces" value=1 min=1 max={{pieces}}></label>
              <p><button type=submit>Add to Cart</button></p>
            
          </form>
          {% else %}
              <p><button type=submit>Currently unavailable</button></p>
          {% endif %}
        </div>
          
        {% endfor %}

    
    </div>
  </div>
</div>

</body>

{% endblock %}
