{% extends "header.html" %}
{% block content %}


  <div class="main">
		<div class="content">
		  <form action="/register" method="post">
			  <div class="container">
			  
				<h1>Register</h1>
				<p>Please fill in this form to create an account.</p>
				<font color=red>{{message}}</font>
				<hr>
				<label for="name1"><b>First name</b></label>
				<input type="text" onkeyup="this.value = this.value.replace(/[^a-zA-Z]/, '')" placeholder="Enter first name" name="name1" value="{{name1}}" required>
				
				<label for="name2"><b>Last name</b></label>
				<input type="text" onkeyup="this.value = this.value.replace(/[^a-zA-Z]/, '')" placeholder="Enter last name" name="name2" value="{{name2}}" required>

				
				<label for="email"><b>E-mail</b></label>
				<input type="email" placeholder="Enter E-mail" name="email" id="email" value="{{email}}" required>

				<label for="address"><b>Address</b></label>
				<textarea placeholder="Enter your address" name="address" rows=7 required>{{address}}</textarea>

				<label for="phone"><b>Phone number (format: 123-45-678)</b></label>
				<input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" value="{{phone}}" required>

				<label for="psw"><b>Password</b></label>
				<input type="password" placeholder="Enter Password" name="psw" pattern=".{7,}"   required title="7 characters minimum" required>

				<label for="psw-repeat"><b>Repeat Password</b></label>
				<input type="password" placeholder="Repeat Password" name="psw-repeat" min=7 required>
				<hr>
				<button type="submit" class="registerbtn">Register</button>
			  </div>
			  
			  <div class="container signin">
					<p>Already have an account? <a href="/login">Sign in</a>.</p>
			  </div>
			</form>
		</div>
		    
  </div>
</div>

</body>

{% endblock %}