{% extends "header.html" %}
{% block content %}


  <div class="main">
		<div class="content">
		  <form action="/register" method="post">
			  <div class="container">
			  
				<h1>Register</h1>
				<b><center>Your account has been created successfully.</center></b>
				
			</form>
		</div>
		<div class="container signin">
			<a href="/home">Return to the home page.</a>
			<a href="/products?id_prod=1"><p>Return to the products page.</a></p>
			<a href="/login">You can now go to the login page. </a>
		</div>
		    
  </div>
</div>

</body>

{% endblock %}