<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<div class="topnav">
  <a href="/categories">Categories</a>
  <a  class="active" href="/products">Products</a>
  <a  href="/orders">Orders</a>

</div>

<div class="container-form">

  <form method=post action="products">
  <input type="hidden" name="funct_id" value="{{prod_id}}">
  <div class="row">
    <div class="col-25">
      <label for="nume">Product
      {% if prod_id != "" %}
      update
      {% else %}
      insert
      {% endif %}
      </label>
    </div>
    <div class="col-75">
      <input type="text" id="prod_name" name="prod_name" placeholder="Product name" value="{{name}}" required>
    </div>
    <div class="col-25">
      <label for="categ">Category</label>
    </div>
    <div class="col-75">
      <select id="categ" name="categ" required>
        <option value="">Choose the category</option>
        {% for id, categ_name in categories %}
          {% if id == categ_id %}
            <option value={{id}} selected>{{categ_name}}</option>
          {% else %}
            <option value={{id}}>{{categ_name}}</option>
          {% endif %}
          }
        {% endfor %}
      </select>
    </div>
    <div class="col-25">
      <label for="brand">Brand</label>
    </div>
    <div class="col-75">
      <input type="text" id="brand" name="brand" placeholder="Brand" value="{{brand}}" required>
    </div>
     <div class="col-25">
      <label for="description">Description</label>
    </div>
    <div class="col-75">
      <textarea id="description" name="description" placeholder="Product description..." style="height:100px">{{descr}}</textarea>
    </div>
    <div class="col-25">
      <label for="picture">Picture</label>
    </div>
    <div class="col-75">
      <input type="text" id="picture" name="picture" placeholder="Picture link" value="{{pict}}">
    </div>
    <div class="col-25">
      <label for="price">Price</label>
    </div>
    <div class="col-75">
      <input type="number" id="price" name="price" placeholder="Price" value="{{price}}" min="0" required>
    </div>
    <div class="col-25">
      <label for="stock">Stock</label>
    </div>
    <div class="col-75">
      <input type="number" id="stock" name="stock" placeholder="Stock" value="{{stock}}" min="0" required>
    </div>
  </div>

  <div class="row">
      
    <div class="col-100">
      <br>
        <input type="submit" value="Save changes">
      </br>
    </div>
  
    
  </div>
  </form>
  
</div> 
  
 
<table id="products">
  <tr>
    <th>Products</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <tr>
    {% set new_id = namespace(ids=0) %}
    {% for categ_name, id, categ_id, prod_name, brand, description, picture, price, stock in products %}
    <tr>
      {% if new_id.ids != categ_id %}
        <tr>
          <td colspan=3 class="products-category"><em><b>{{categ_name}}</b></em></td>
        </tr>
      {% endif %}
      {% set new_id.ids = categ_id %}
      <td>{{prod_name}}</td>
        <td><a href="products?update_id={{id}}">Edit</a></td>
      <td><a href="products?delete_id={{id}}"  onclick="return window.confirm('Do you really want to delete this product?');">Delete</a></td>
    </tr>
    {% endfor %}
  </tr>
</table>
  
  
  
  
  
  
  
  
  
  
 