<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<div class="topnav">
  <a href="/categories">Categories</a>
  <a  class="active" href="/products">Products</a>
  <a  href="/orders">Orders</a>

</div>

<div class="container-form">

  <form method=post>
  <div class="row">
    <div class="col-25">
      <label for="nume">Produs</label>
    </div>
    <div class="col-75">
      <input type="text" id="nume" name="nume" placeholder="Numele categoriei">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="categorii">Categorii</label>
    </div>
    <div class="col-75">
      <select id="categorii" name="categorii">
        <option value="1">Parfumuri</option>
        <option value="2">Uscatoare</option>
        <option value="3">Aparate de tuns</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="descriere">Descriere</label>
    </div>
    <div class="col-75">
      <textarea id="descriere" name="descriere" placeholder="Descrierea produsului..." style="height:100px"></textarea>
    </div>
  </div>
  <div class="row">
      <div class="col-75">
     <input type="submit" value="Inregistreaza">
    </div>
    <div class="col-25">
      <a href="" class="button3">Produs nou</a>
    </div>
	
    
  </div>
  </form>
  
</div> 
  
  
  
  
<table id="products">
  <tr>
    <th>Categorie</th>
    <th>Editare</th>
    <th>Stergere</th>
  </tr>
   <tr>
    <td colspan=3 class="products-category"><em><b>Categorie: Parfumuri</b></em></td>
  </tr>
  <tr>
    <td>Apa de colonie</td>
    <td><a href="">Editare</a></td>
    <td><a href=""  onclick="return window.confirm('Sunteti sigur ca vreti sa stergeti acest produs?');">Stergere</a></td>
  </tr>
   <tr>
    <td>Parfum de lacramioare</td>
    <td><a href="">Editare</a></td>
    <td><a href=""  onclick="return window.confirm('Sunteti sigur ca vreti sa stergeti acest produs?');">Stergere</a></td>
  </tr>
  <tr>
    <td>Parfum de flori de tei</td>
    <td><a href="">Editare</a></td>
    <td><a href=""  onclick="return window.confirm('Sunteti sigur ca vreti sa stergeti acest produs?');">Stergere</a></td>
  </tr> 

   <tr>
    <td colspan=3 class="products-category"><em><b>Categorie: Aparate de tuns</b></em></td>
  </tr>
    <tr>
    <td>Aparat de tuns Remington</td>
    <td><a href="">Editare</a></td>
    <td><a href=""  onclick="return window.confirm('Sunteti sigur ca vreti sa stergeti acest produs?');">Stergere</a></td>
  </tr> 
  
</table>
  
  
  
  
  
  
  
  
  
  
 